@import "tailwindcss";

:root {
  --color: #000000;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #ffffff;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-color: var(--color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-google-sans-flex: var(--font-google-sans-flex);
}

@custom-variant root (:root);
@custom-variant dark (&:where(.dark, .dark *));

@custom-variant focus-visible {
  &:focus-visible {
    @slot;
  }
}

@custom-variant media-hover {
  @media (hover: hover) {
    @slot;
  }
}
@custom-variant media-not-all-hover {
  @media not all and (hover: hover) {
    @slot;
  }
}
@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}
@custom-variant hover {
  &:hover {
    @slot;
  }
}
@custom-variant hidden {
  &[hidden] {
    @slot;
  }
}
